---
---
<style>
    #contact {
        background: var(--lightblue);
        color: var(--white);
    }
</style>
<section class="content-container" id="contact">
        <div class="text-content">
            <h2>Kontakt</h2>
            <div>
                Wenn ihr Fragen oder Anregungen habt freuen wir uns sehr über eure Nachrichten. Wir werden uns so schnell wir können bei euch melden.
            </div>
            <div>
                Erreichen könnte ihr uns per Mail an <a href="mailto:info@alge-hamburg.de">info@alge-hamburg.de</a>
            </div>
            <div>
                Oder über <a href="https://discord.gg/psfvupc9">unseren Discord</a> sowie die anderen bekannten Covid Safer Server
            </div>
        </div>
</section>