---
---
<style>
    #date {
        background: var(--yellow);
        font-size: 30px;

        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .date {
            font-size: 40px;
            font-weight: bold;
        }
    }
</style>
<section class="content-container" id="date">
    <div>
        <div class="date">14.06.2026 - 17:00</div>
        <div>Hamburg und per Stream</div>
    </div>
</section>