---
import Buch from "../../assets/buch.webp";
---
<style>
    #lesung {
        background: var(--lightblue);
        color: var(--white);
    }

    img {
        margin-left: 3rem;
        width: 30rem;
        max-width: 50%;
    }

    @media only screen and (hover: none) and (pointer: coarse){
        #lesung > div {
            flex-direction: column;
        }
        img {
            margin-left: 0;
            margin-top: 3rem;
            width: 100%;
            max-width: 100%;
        }
    }
</style>
<section class="content-container" id="lesung">
    <div>
        <div class="text-content">
            <h2>Über die Lesung</h2>
            <div><b>"Die verdrängte Pandemie - Linke Stimmen gegen den Pandemierevisionismus"</b> mit den Herausgebern
                Frédéric Valin und Paul Schubert.
            </div>
            <div>Fast 7 Jahre ist es her, seit der erste Covid-19 Fall bei München entdeckt wurde und die tödliche
                Covid-19
                Pandemie ihren Lauf genommen hat. Seit der Aufhebung der staatlichen Schutzmaßnahmen macht sich in allen
                politischen Lagern ein Pandemierevisionismus breit. Die Gefahren des Virus werden verharmlost,
                Gesundheitsschutz lächerlich gemacht, an Long Covid leidende Menschen werden stigmatisiert und die
                Bedürfnisse von vulnerablen Personen kommen in der Diskussion kaum mehr vor.
            </div>
            <div>Die Herausgeber Frédéric Valin und Paul Schubert beleuchten in ihrem Sammelband „Die verdrängte
                Pandemie –
                Linke Stimmen gegen den Pandemierevisionismus“ mit Beiträgen von Autor*innen und Wissenschaftler*innen
                wie
                Natascha Strobl und Thomas Ebermann u.A. die Rolle von Behindertenfeindlichkeit und Sozialdarwinismus
                während und nach der Pandemie und fragen, wie gesellschaftliche Teilhabe für alle möglich bleibt. Dazu
                laden
                wir euch ganz herzlich zur Lesung mit den Herausgebern ein.
            </div>
            <div>Neben einer kurzen Sozialgeschichte der Pandemie werden auch die Rolle des Staates während der
                Pandemie,
                die Zustände der Gesundheitssysteme und die mangelnde Versorgung für Long-Covid- und ME/
                CFS-Patient*innen
                behandelt.
            </div>
            <div>Der Eintritt ist frei, wir bitten allerdings um Anmeldung. Für die gesamte Veranstaltung gilt der <a
                    href="https://alge-hamburg.de/coc">Code of Conduct</a> des ALGE e.V..
            </div>
        </div>
        <img src={Buch.src}/>
    </div>
</section>