---
---
<style>
    #lesung {
        background: var(--lightblue);
        color: var(--white);
    }

    @media only screen and (hover: none) and (pointer: coarse) {
    }
</style>
<section class="content-container" id="lesung">
    <div class="text-content">
        <h2>Über die Lesung</h2>
        <div><b>"Die verdrängte Pandemie - Linke Stimmen gegen den Pandemierevisionismus"</b> mit dem Herausgeber
            Frédéric Valin.
        </div>
        <div>
            Um die Lesung möglichst infektiosarm zu gestalten werden folgende Maßnahmen umgesetzt
            <ul>
                <li>Maskenpflicht (FFP2  oder höere Filtration)</li>
                <li>Masken werden kostenlos vor Ort zur Verfügung gestellt</li>
                <li>Aranet CO2 Messungen mit regelmäßigem Lüften</li>
                <li>hochwertige Luftfilter</li>
            </ul>
        </div>
        <div>Der Eintritt ist frei, wir bitten um Anmeldung. Für die gesamte Veranstaltung gilt der <a
                href="https://alge-hamburg.de/coc">Code of Conduct</a> des ALGE e.V..
        </div>
    </div>
</section>