---
---
<style>
    #location {
        display: flex;
        flex-direction: row;
    }

    iframe {
        width: 50%;
        height: 400px;
    }

    .text-content {
        padding-left: 60px;
        justify-content: center;
    }
</style>
<section id="location">
    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=9.941739141941072%2C53.557417871169264%2C9.946996271610262%2C53.559449251254975&amp;layer=mapnik"
            style="border: none"></iframe>
    <div class="text-content">
        <h2>Location</h2>
        <div>
            CCC Hansestadt Hamburg e.V.<br>
            Zeiseweg 9<br>
            22765 Hamburg
        </div>
        <h2>Oder per Stream</h2>
        <div>Link nach Anmeldung über das Formular</div>
    </div>
</section>