---
---
<style>
    #tickets {
        background: var(--yellow);

        & > div {
            display: flex;
            justify-content: center;

            & > form {
                display: flex;
                flex-direction: column;

                & label {
                    margin-bottom: 8px;
                }

                & input[type=email] {
                    padding: 10px 20px;
                    background: transparent;
                    border: 2px solid #000;
                    border-radius: 8px;
                    margin-bottom: 12px;
                }

                & input[type="radio"] {
                    accent-color: #000;
                    transform: scale(1.5);
                    margin-right: 8px;
                }

                & .disclaimer {
                    margin-top: 12px;
                }

                & button {
                    margin-top: 8px;
                    background: #000;
                    color: var(--yellow);
                    font-size: 20px;
                    border-radius: 8px;
                    padding: 16px 20px;
                    border: none
                }
            }
        }
    }
</style>
<section class="content-container" id="registration">
    <div class="text-content">
        <form id="ticketForm" action="https://formy.alge-hamburg.de/register/df9d7b1b-e08c-4ff6-aeee-818a976ef282"
              method="post">
            <label>eMail Adresse</label>
            <input type="email" name="email"/>
            <label>Teilnahme</label>
            <label><input type="radio" name="inPresence" value="true" checked/> Ich komme vorbei</label>
            <label><input type="radio" name="inPresence" value="false"/> Ich nehme online teil</label>
            <div class="disclaimer">
                Mit der Anmeldung akzeptierst du den <a href="https://alge-hamburg.de/coc">Code of Conduct</a> des ALGE e.V.
            </div>
            <button type="submit">ZUR LESUNG ANMELDEN</button>
        </form>
    </div>
</section>

<script>
    const handleSubmit = (event) => {
        event.preventDefault();

        const myForm = event.target;

        fetch(event.target.action, {
            method: "POST",
            headers: {"Content-Type": "application/x-www-form-urlencoded"},
            body: new FormData(myForm)
        })
            .then(() => {
                event.target.reset()
                console.log("Form successfully submitted")
            })
            .catch(error => {
                console.log(error);
                console.log("Error Submiting Form", error)
            });
    };

    document.getElementById("ticketForm").addEventListener("submit", handleSubmit);
</script>