---
import BetterPlace from "../../assets/betterplace-qr-code.png"
---
<style>
    #spenden {
        background: #000;
        color: var(--white);

        & img {
            height: 10rem;
            margin-right: 3rem;
        }

        & .spendenLink {
            border: 2px solid #F4BB46;
            background: #F4BB46;
            border-radius: 0.8rem;
            padding: 0.5rem 1.5rem;
            color: black;
            font-weight: 500;
            text-decoration: none;
            margin-top: 3rem;
        }

        & .spendenLinkContainer {
            margin-top: 2rem;
        }
    }

    @media only screen and (hover: none) and (pointer: coarse) {
        #spenden > div {
            flex-direction: column-reverse;

            & img {
                display: none;
            }

            & .spendenLink {
                width: 100%;
            }
        }
    }
</style>
<section class="content-container" id="spenden">
    <div>
        <img src={BetterPlace.src}/>
        <div class="text-content">
            <h2>Spenden</h2>
            <div>Unser Verein setzt sich mit viel Engagement für diese Lesung und weitere Veranstaltungen ein. Damit
                wir unsere wichtige Arbeit auch weiterhin fortführen und ausbauen können, sind wir auf eure Hilfe
                angewiesen.
            </div>
            <div>Jede Spende, egal in welcher Höhe, trägt dazu bei, unsere Projekte zu realisieren um gemeinsam für
                ein sicheres Miteinander zu arbeiten.
            </div>
            <div class="spendenLinkContainer">
                <a href="https://www.betterplace.org/de/donate/platform/projects/140795?need_id=769244" class="spendenLink">JETZT SPENDEN</a>
            </div>
        </div>
    </div>
</section>