---
import BetterPlace from "../../assets/betterplace-qr-code.png"
---
<style>
    #spenden {
        background: #000;
        color: var(--white);

        & img {
            height: 10rem;
            margin-right: 3rem;
        }
    }

    @media only screen and (hover: none) and (pointer: coarse) {
        #spenden > div {
            flex-direction: column-reverse;

            & img {
                padding: 0;
                margin-left: auto;
                margin-right: auto;
                margin-top: 3rem;
                width: 80%;
                height: 80%;
            }
        }
    }
</style>
<section class="content-container" id="spenden">
    <div>
        <img src={BetterPlace.src}/>
        <div class="text-content">
            <h2>Spenden</h2>
            <div>Unser Verein setzt sich mit viel Engagement für diese Lesung und weitere Veranstaltungen ein. Damit
                wir unsere wichtige Arbeit auch weiterhin fortführen und ausbauen können, sind wir auf eure Hilfe
                angewiesen.
            </div>
            <div>Jede Spende, egal in welcher Höhe, trägt dazu bei, unsere Projekte zu realisieren um gemeinsam für
                ein sicheres Miteinander zu arbeiten.
            </div>
            <div>
                Unterstützen könnt ihr uns ganz einfach über <a
                    href="https://www.betterplace.org/de/projects/140795">Betterplace</a>. Eine Spendenquittung für
                die Steuer stellen wir natürlich gerne aus.
            </div>
        </div>
    </div>
</section>