---
import Header from "../components/header.astro";
import Main from "../components/main.astro";
import Footer from "../components/footer.astro";
---
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>ALGE - Lesung</title>
</head>
<body>
<Header></Header>
<Main></Main>
<Footer></Footer>
</body>
</html>


<style>
    :root {
        --content-width: 1340px;
        --yellow: #F4BB46;
    }
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: black;
    }

    body {
        font-family: "Open Sans Condensed", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        overflow-x: hidden;
    }
</style>