---
import Nav from "./nav.astro"
import HeaderImg from "../assets/header2.jpg"
---
<style>
    header {
        width: 100%;
        height: 700px;
        overflow-x: hidden;

        & > img {
            width: 2400px;
            height: 700px;
        }
    }

    .gradient {
        position: absolute;
        top: 0;
        left: 0;
        background: #072D60;
        background: linear-gradient(
                115deg,
                rgba(0, 33, 65, 1) 0%, rgba(0, 33, 65, 1) 50%,
                rgba(0, 33, 65, .8) 50%, rgba(0, 33, 65, .8) 60%,
                rgba(0, 33, 65, .6) 60%, rgba(0, 33, 65, .6) 70%,
                rgba(0, 33, 65, .0) 70%, rgba(0, 33, 65, .0) 100%
        );
        height: 700px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;

        & > div {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            max-width: var(--content-width);
        }

    }

    .name {
        font-size: 70px;
        color: white;
        font-weight: 600;
    }

    .date {
        font-size: 20px;
        color: white;
        font-weight: 400;
    }

</style>
<Nav/>
<header>
    <img src={HeaderImg.src}>
    <div class="gradient">
        <div>
            <div class="name">Die Vergesse Pandemie</div>
        </div>
    </div>
</header>