---
import Speaker from "./speaker.astro"
import Lenin from "../assets/lenin.jpeg"
import Vader from "../assets/vader.jpeg"
import LogoRund from "../assets/logo_rund.png"
---
<style>
    .content {
        width: 100%;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > section {
            width: 100%;
            max-width: var(--content-width);
            padding: 60px 30px;
            box-sizing: border-box;
        }
    }

    #date {
        background: var(--yellow);
        font-size: 30px;

        & > section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .date {
            font-size: 40px;
            font-weight: bold;
        }
    }

    #about {
        background: #F8F7F2;

        & > section {
            display: flex;

            & img {
                height: 200px;
                margin-right: 50px;
            }

            & .description {
                & > div {
                    margin-bottom: 20px;
                }
                line-height: 30px;
                text-align: justify;
            }
        }
    }

    #speaker {
        background: #072D60;

        & > section {

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            justify-items: center;
            align-content: center;
        }

        color: whitesmoke;
    }

    #lesung {
        background: #072D60;
        color: whitesmoke;

        & > section > div {
            margin-bottom: 30px;
        }
    }

    #location {
        & > section {
            padding: 0;
            display: flex;

            & .address {
                display: flex;

                & > div:first-of-type {
                    margin-right: 60px;
                }
            }

            & > iframe {
                margin-right: 60px;
            }

            & > div {
                padding-top: 60px;
            }
        }
    }

    #tickets {
        background: var(--yellow);

        & > section {
            display: flex;
            justify-content: center;

            & > iframe {
                margin-right: 60px;
            }

            & > div {
            }
        }
    }
</style>
<div class="content" id="date">
    <section>
        <div class="date">14.06.2026 - 17:00</div>
        <div>Hamburg und per Stream</div>
    </section>
</div>
<div class="content" id="about">
    <section>
        <div>
            <img src={LogoRund.src}>
        </div>
        <div class="description">
            <h2>Über den Verein</h2>
            <div>
                <a href="https://alge-hamburg.de">alge-hamburg.de</> | <a>Bluesky</a> | <a>Mastodon</a> | <a>Discord</a>
            </div>
            <div>Der ALGE e.V. ist ein gemeinnütziger Verein, der sich deutschlandweit für infektionssichere
                Freizeitangebote und einen infektionssensiblen Alltag stark macht. Wir bieten regelmäßige virtuelle
                Aktivitäten sowie Präsenz-Veranstaltungen mit individuell angepassten Infektionsschutzkonzepten (Tests,
                Masken, Luftfilter, …).<br>
                Wir wollen Menschen zusammenbringen, die sich aus vielfältigen Gründen vor Infektionen schützen wollen
                oder müssen. Unser Ziel ist es, gemeinsam Infektionsschutz (vor-)zuleben und zu zeigen, wie
                Infektionsschutz ein selbstverständlicher Teil von Freizeitaktivitäten sein kann.
            </div>
            <div>Wir bieten digitale Veranstaltungen wie:
                <ul>
                    <li>Brettspielabende</li>
                    <li>Klönabende</li>
                    <li>Kreativ-Cafés</li>
                    <li>Brunch</li>
                </ul>
            </div>
            <div>
                und infektionssensible Präsenz-Veranstaltungen wie:
                <ul>
                    <li>Wander- und Klettergruppe</li>
                    <li>Vernetzungstreffen</li>
                    <li>Testessen zu Hamburgs besten Franzbrötchen</li>
                    <li>Weihnachtsfeier</li>
                    <li>Kinder-Freizeitangebote</li>
                </ul>
            </div>
    </section>
</div>
<div class="content" id="lesung">
    <section>
        <h2>Über die Lesung</h2>
        <div><b>"Die verdrängte Pandemie - Linke Stimmen gegen den Pandemierevisionismus"</b> mit den Herausgebern Frédéric Valin und Paul Schubert.</div>
        <div>Fast 7 Jahre ist es her, seit der erste Covid-19 Fall bei München entdeckt wurde und die tödliche Covid-19 Pandemie ihren Lauf genommen hat. Seit der Aufhebung der staatlichen Schutzmaßnahmen macht sich in allen politischen Lagern ein Pandemierevisionismus breit. Die Gefahren des Virus werden verharmlost, Gesundheitsschutz lächerlich gemacht, an Long Covid leidende Menschen werden stigmatisiert und die Bedürfnisse von vulnerablen Personen kommen in der Diskussion kaum mehr vor.</div>
        <div>Die Herausgeber Frédéric Valin und Paul Schubert beleuchten in ihrem Sammelband „Die verdrängte Pandemie – Linke Stimmen gegen den Pandemierevisionismus“ mit Beiträgen von Autor*innen und Wissenschaftler*innen wie Natascha Strobl und Thomas Ebermann u.A. die Rolle von Behindertenfeindlichkeit und Sozialdarwinismus während und nach der Pandemie und fragen, wie gesellschaftliche Teilhabe für alle möglich bleibt. Dazu laden wir euch ganz herzlich zur Lesung mit den Herausgebern ein.</div>
        <div>Neben einer kurzen Sozialgeschichte der Pandemie werden auch die Rolle des Staates während der Pandemie, die Zustände der Gesundheitssysteme und die mangelnde Versorgung für Long-Covid- und ME/ CFS-Patient*innen behandelt.</div>
        <div>Der Eintritt ist frei, wir bitten allerdings um Anmeldung. Für die gesamte Veranstaltung gilt der <a>Code of Conduct</a> des ALGE e.V..</div>
    </section>
</div>
<div class="content" id="speaker">
    <section>
        <Speaker image={Lenin.src} name="Lenin Katzi"/>
        <Speaker image={Vader.src} name="Vader Katzi"/>
    </section>
</div>
<div class="content" id="location">
    <section>
        <iframe width="600" height="600"
                src="https://www.openstreetmap.org/export/embed.html?bbox=9.941739141941072%2C53.557417871169264%2C9.946996271610262%2C53.559449251254975&amp;layer=mapnik"
                style="border: none"></iframe>
        <div>
            <h2>Live Location</h2>
            <div class="address">
                <div>
                    CCC Hansestadt Hamburg e.V.<br>
                    Zeiseweg 9<br>
                    22765 Hamburg
                </div>
                <div>
                    Rollstuhlgerecht<br>
                    Toiletten<br>
                    Getränke<br>
                    Käsekuchen
                </div>
            </div>
            <h2>Und per Stream</h2>
            <div>Link nach Anmeldung</div>
        </div>
    </section>
</div>
<div class="content" id="tickets">
    <section>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdZms2m2rmUF-aA80KwWVOmTGgjLdBkkggm7E4knef6fAJbXQ/viewform?embedded=true"
                width="800" height="670" frameborder="0">Wird geladen…
        </iframe>
    </section>
</div>