---
import NavItem from "./nav_item.astro"
import Logo from "../assets/logo.png"
---
<nav>
    <img id="logo" src={Logo.src}/>
    <NavItem name="DAS BUCH" link="#buch"/>
    <NavItem name="DIE LESUNG" link="#lesung"/>
    <NavItem name="ÜBER UNS" link="#about"/>
    <NavItem name="SPENDEN" link="#spenden"/>
    <NavItem name="LOCATION" link="#location"/>
    <a class="ticketLink" href="#registration">SEI DABEI</a>
    <button class="menuIcon" onclick="document.getElementById('mobileNav').classList.toggle('active');">☰</button>
</nav>
<div id="mobileNav">
    <button class="menuIcon" onclick="document.getElementById('mobileNav').classList.toggle('active');">✖</button>
    <NavItem name="DAS BUCH" link="#buch"/>
    <NavItem name="DIE LESUNG" link="#lesung"/>
    <NavItem name="ÜBER UNS" link="#about"/>
    <NavItem name="SPENDEN" link="#spenden"/>
    <NavItem name="LOCATION" link="#location"/>
    <a class="ticketLink" href="#registration">SEI DABEI</a>
</div>

<style is:global>
    nav {
        z-index: 1;
        height: 5rem;
        position: fixed;
        top: 0;
        background: #002141;
        width: 100%;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 500;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        align-content: center;
        box-sizing: border-box;
        justify-content: right;
    }

    #mobileNav {
        z-index: 10;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: none;
        flex-direction: column;
        background: var(--blue);
        align-items: center;

        &.active {
            display: flex;
        }

        & .nav_item {
            display: block !important;
            font-size: 2rem;
            color: var(--yellow);
            margin-top: 2rem;
        }

        & .menuIcon {
            margin: 1rem 2.5rem 0 auto;
        }
    }

    .menuIcon {
        font-size: 2.5rem;
        display: none;
        margin-right: 2.5rem;
        color: var(--white);
        background: none;
        border: none;
    }

    #logo {
        margin-left: 3rem;
        margin-right: auto;
        height: 3rem;
    }

    .ticketLink {
        border: 2px solid #F4BB46;
        background: #F4BB46;
        border-radius: 0.8rem;
        padding: 0.5rem 1.5rem;
        color: black;
        font-weight: 500;
        text-decoration: none;
        margin-right: 3rem;
    }

    @media only screen and (hover: none) and (pointer: coarse) {
        .ticketLink {
            display: none;
        }

        #logo {
            margin-left: 1rem;
        }

        .menuIcon {
            display: block;
        }
    }
</style>