---
import NavItem from "./nav_item.astro"
import Logo from "../assets/logo.png"
---
<nav>
    <div>
        <img id="logo" src={Logo.src}/>
        <NavItem name="ÜBER UNS" link="#about"/>
        <NavItem name="DIE LESUNG" link="#lesung"/>
        <NavItem name="SPENDEN" link="#spenden"/>
        <NavItem name="LOCATION" link="#location"/>
        <a class="ticketLink" href="#registration">SEI DABEI</a>
    </div>
</nav>

<style>
    nav {
        z-index: 1;
        position: sticky;
        top: 0;
        background: black;
        width: 100%;
        font-size: 20px;
        text-decoration: none;
        font-weight: 500;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        & > * {
             display: flex;
             align-content: center;
             align-items: center;
             box-sizing: border-box;
             justify-content: right;
             width: 100%;
             max-width: var(--content-width);
         }
    }

    #logo {
        margin-left: 20px;
        margin-right: auto;
        height: 30px;
    }

    .ticketLink {
        border: 2px solid #F4BB46;
        background: #F4BB46;
        border-radius: 8px;
        padding: 8px 20px;
        color: black;
        font-weight: 500;
        text-decoration: none;
        margin-right: 20px;
    }
</style>