---
    const { name, link, onClick } = Astro.props;
---

<a class="nav_item" href={link} onclick="document.getElementById('mobileNav').classList.toggle('active');">{name}</a>

<style is:global>
    a.nav_item {
        color: white;
        margin-right: 3rem;
        text-decoration: none;

        &:hover {
            color: #F4BB46;
            text-decoration: underline;
            text-underline-offset: 10px;
        }
    }
    @media only screen and (hover: none) and (pointer: coarse){
        a.nav_item {
            display: none;
        }
    }
</style>
